{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% block content %}
{% if messages %}
{% for m in messages %}
<strong class="text-{{m.tags}}">{{m}}</strong>
{% endfor%}
{% endif %}
<form method="post" style="width: 40%; margin: auto; margin-top: 20px" novalidate>
  <h1>Change Your Password Now</h1>
  {% csrf_token %}
  <!-- {{form | crispy }} -->
  {% for fm in form%}
    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} 
  {% endfor%}
  <br />
  <button class="btn btn-primary mb-5" type="submit">Update Password</button>
  <br />
</form>
{% endblock %}