{% extends "base.html" %}

{% block content %}
<h1>Show All Student Data </h1>
{% if student %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Roll No</th>
          <th scope="col">Student Name</th>
          <th scope="col">Father's Name</th>
          <th scope="col">Address</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for st in student %}
        <tr>
          <td>{{st.roll}}</td>
          <td>{{st.name}}</td>
          <td>{{st.father_name}}</td>
          <td>{{st.address}}</td>
          <td><a class="btn btn-danger text-white" href="{% url 'delete_student' st.roll %}">Delete</a></td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
    {% else %}
    <h3>No data available Now!</h3>
    {% endif %}
{% endblock %}